<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini-message-board</title>
</head>
<body>
    <h1>ENTER YOUR MESSAGE</h1>
    <form method="post" action="/new">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div>
        <label for="message">message</label>
        <textarea name="message" id="message"></textarea>
    </div>
    <button type="submit">submit</button>
    </form>
</body>
</html>