<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mini-message-board</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <h1 class="heading">messageFlow</h1>
    <h2 class="sub-heading">Share your thoughts with the world</h2>
    <main>
      <a href="/new" class="new-message-button"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-send-icon lucide-send"><path d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"/><path d="m21.854 2.147-10.94 10.939"/></svg>new message</a>
      <% messages.forEach((message) => { %>
      
      <a href="/messages/<%= message.messageId %>"><div class="message-instance-container">
        <div class="username-and-timestamp-div">
          <p class="message-user-name"><%= message.user %></p>
        <p class="message-added-date"><%= message.added %></p>
        </div>
        <p><%= message.text %></p>
        
      

      </div> </a>
      <% }) %>
    </main>
      <script>
  document.querySelectorAll('.message-added-date').forEach(element => {
    const date = new Date(element.textContent);
    element.textContent = date.toLocaleString('en-US', {
      timeZoneName:"longGeneric",   // show timezone like "GMT+5:30" or "AEST"
      year: 'numeric',
      month: 'short',           // Jan, Feb, etc.
      day: 'numeric',
      hour: '2-digit',
      minute: '2-digit',
      second: '2-digit'
    });
  });
</script>
  </body>
  

</html>
