<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>mini-message-board</title>
  </head>
  <body>
    <h1>MINI MESSAGE BOARD</h1>
    <main>
      <% messages.forEach((message) => { %>
      <div>
        <p><%= message.text %></p>
        <p><%= message.user %></p>
        <p><%= message.added %></p>
      <a href="/messages/<%= message.messageId %>"><button>OPEN</button> </a>

      </div>
      <% }) %>
    </main>
    <a href="/new"><button>new message</button></a>
  </body>
</html>
