<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mini-message-board</title>
</head>
<body>
    <div class="message-details-div">
        <h2>Message Details</h2>
        <p class="message-user"><%= messages[messageId].user %></p>
        <p class="message-text"><%= messages[messageId].text %></p>
        <p class="message-date"><%= messages[messageId].added %></p>
    </div>
    <a href="/"><button>GO BACK</button></a>
</body>
</html>