:root {
  --main-bg-color: #0f0f0f;
  --secondary-bg-color: #1a1a1a;
  --secondary-bg-color2: #2c2b2b;
  --third-bg-color: #363636;
  --main-font-color: #5b73e9;
  --white-color: #ffffff;
  --main-font-color-hover: #4661e5;
}

* {
  color: white;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, sans-serif;
}

body {
  background-color: var(--main-bg-color);
  width: 75vw;
  margin: auto;
}

.heading {
  text-align: center;
  color: var(--main-font-color);
  font-size: clamp(2rem, 3vw, 2.8rem);
  margin-bottom: 0;
}

.sub-heading {
  text-align: center;
  font-size: clamp(1.2rem, 1.5vw, 2.3rem);
  font-weight: 400;
  opacity: 0.6;
}

a {
  text-decoration: none;
}

.new-message-button,
.open-button,
.go-back-button,
.send-button,
.cancel-button {
  margin: 1rem;
  background-color: var(--third-bg-color);
  color: var(--white-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid var(--third-bg-color);
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 0.5rem;
  cursor: pointer;
}

.new-message-button {
  width: 10rem;
  height: 2rem;
}

.new-message-button:hover {
  background-color: var(--main-font-color-hover);
  border: 2px solid var(--main-font-color-hover);
}

.message-instance-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--third-bg-color);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 1rem;
  gap: 0;
}

.message-user-name {
  color: var(--main-font-color);
}

.username-and-timestamp-div {
  display: flex;
  justify-content: space-between;
}

.message-user-name {
  font-weight: 800;
  font-size: clamp(0.8rem, 1.2vw, 1.7rem);
}

.message-added-date {
  font-weight: 300;
}

.message-details-subheading {
  text-align: center;
}

.message-details-container {
  background-color: var(--third-bg-color);
  border-radius: 1rem;
  padding: 0.3rem;
  width: fit-content;
  margin: auto;
  margin-top: 3rem;
}

.message-user {
  color: var(--main-font-color);
}

.go-back-button {
  width: 8rem;
  align-self: flex-end;
  margin: 1rem;
}

.go-back-button:hover {
  background-color: var(--main-font-color-hover);
}
.form-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40rem;
  padding: 0.5rem;
  margin: 5rem auto;
  background-color: var(--third-bg-color);
  border: 2x solid var(--third-bg-color);
  border-radius: 1rem;
}

.name-input-div,
.message-input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

input {
  height: 2.5rem;
}
label {
  margin-bottom: 0.5rem;
}
input,
textarea {
  border: 2px solid var(--third-bg-color);
  background-color: var(--secondary-bg-color2);
  border-radius: 0.5rem;
}

textarea {
  resize: none;
}

.send-button,
.cancel-button {
  margin: 0.5rem auto;
  background-color: var(--main-font-color);
  width: 14rem;
}

.send-button:hover,
.cancel-button:hover {
  background-color: var(--main-font-color-hover);
  border: 2px solid var(--main-font-color-hover);
}

.form-button-container {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  gap: 0.5rem;
}

.enter-message-heading {
  font-size: clamp(1rem, 2.1vw, 2.4rem);
  font-weight: 400;
  text-align: center;
}

.main-message-container {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
